.DS_Store
*.vpp.b*
*.vpp.lck
modelos-tarefas/~$*.docx
/code/backend/Clients/nbproject/private/
/code/backend/Clients/build/
/code/backend/Clients/dist/
/code/backend/Core/wildfly-12.0.0.Final/
/code/backend/GymAtHome/wildfly-12.0.0.Final/
/code/backend/PersonalTrainer/wildfly-12.0.0.Final/
/code/backend/Notification/wildfly-12.0.0.Final/
wildfly-12.0.0.Final/*
/code/backend/Core/GymAtHome/GymAtHome/nbproject/private/
/code/backend/Core/GymAtHome/GymAtHome/dist/
/code/backend/Core/GymAtHome/GymAtHome/build/
/code/backend/GymAtHome/GymAtHome/nbproject/private/
/code/backend/GymAtHome/GymAtHome/dist/
/code/backend/GymAtHome/GymAtHome/build/
/code/backend/Requests/Requests/nbproject/private/
/code/backend/Requests/Requests/build/
/code/backend/Requests/Requests/dist/
/code/backend/Notification/nbproject/private/
/code/backend/Notification/build/
/code/backend/Notification/dist/