.DS_Store
*.vpp.b*
*.vpp.lck
modelos-tarefas/~$*.docx
/code/backend/Core/wildfly-12.0.0.Final/
/code/backend/GymAtHome/wildfly-12.0.0.Final/
/code/backend/PersonalTrainer/wildfly-12.0.0.Final/
/code/backend/Notification/wildfly-12.0.0.Final/
wildfly-12.0.0.Final/*
/code/frontend/wildfly-16.0.0.Final/
/code/localhost/Notification/dist/
/code/localhost/Notification/build/
/code/localhost/PersonalTrainer/build/
/code/localhost/PersonalTrainer/dist/
/code/localhost/PersonalTrainer/nbproject/private/
/code/localhost/Notification/nbproject/private/