.DS_Store
*.vpp.b*
*.vpp.lck
modelos-tarefas/~$*.docx
/code/backend/Core/wildfly-12.0.0.Final/
/code/backend/GymAtHome/wildfly-12.0.0.Final/
/code/backend/PersonalTrainer/wildfly-12.0.0.Final/
/code/backend/Notification/wildfly-12.0.0.Final/
wildfly-12.0.0.Final/*
/code/frontend/wildfly-16.0.0.Final/
